<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    
    <div class="pcoded-inner-navbar main-menu" style="height: 100vh !important; overflow-y: auto !important; display: block !important;">
        
        <!-- Profil utilisateur -->
        <div class="main-menu-header">
            <img class="img-80 img-radius" src="{{ asset('assets/admin/images/avatar-4.jpg') }}" alt="User-Profile-Image">
            <div class="user-details">
                <span id="more-details">
                    {% if app.user %}
                        {{ app.user.nom }} {{ app.user.prenom }}
                    {% else %}
                        Invité
                    {% endif %}
                    <i class="fa fa-caret-down m-l-5"></i>
                </span>
            </div>
        </div>
        
        <!-- Menu -->
        <div class="pcoded-navigation-label">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="{{ app.request.get('_route') == 'app_admin_dashboard' ? 'active' : '' }}">
                <a href="{{ path('app_admin_dashboard') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-dashboard"></i></span>
                    <span class="pcoded-mtext">Dashboard</span>
                </a>
            </li>
        </ul>

        <div class="pcoded-navigation-label">Contenus</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="{{ app.request.get('_route') == 'app_admin_filiere_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_filiere_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-layers"></i></span>
                    <span class="pcoded-mtext">Filières</span>
                </a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_admin_etablissement_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_etablissement_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                    <span class="pcoded-mtext">Établissements</span>
                </a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_admin_evenement_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_evenement_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-calendar"></i></span>
                    <span class="pcoded-mtext">Événements</span>
                </a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_admin_utilisateur_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_utilisateur_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-user"></i></span>
                    <span class="pcoded-mtext">Utilisateurs</span>
                </a>
            </li>
        </ul>

        <div class="pcoded-navigation-label">Communauté</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="{{ app.request.get('_route') == 'app_admin_forum_categorie_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_forum_categorie_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-comments"></i></span>
                    <span class="pcoded-mtext">Forum</span>
                </a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_admin_quiz_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_quiz_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-help-alt"></i></span>
                    <span class="pcoded-mtext">Quiz</span>
                </a>
            </li>
            <li class="{{ app.request.get('_route') == 'app_admin_mentorat_index' ? 'active' : '' }}">
                <a href="{{ path('app_admin_mentorat_index') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-hand-open"></i></span>
                    <span class="pcoded-mtext">Mentorat</span>
                </a>
            </li>
        </ul>
        
        <div class="pcoded-navigation-label">Système</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a href="{{ path('app_logout') }}" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-shift-right"></i></span>
                    <span class="pcoded-mtext">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
</nav>