{% extends 'admin/base.html.twig' %}

{% block title %}Détail Filière - {{ filiere.nom }}{% endblock %}

{% block body %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ filiere.nom }}</h5>
                    <p class="m-b-0">Fiche complète de la filière</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_filiere_index') }}">Filières</a></li>
                    <li class="breadcrumb-item"><a href="#">{{ filiere.nom }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Fiche complète : {{ filiere.nom }}</h5>
                        <div class="card-header-right">
                            <a href="{{ path('app_admin_filiere_edit', {'id': filiere.id}) }}" class="btn btn-warning btn-sm">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                            <a href="{{ path('app_admin_filiere_index') }}" class="btn btn-secondary btn-sm">
                                <i class="fa fa-arrow-left"></i> Retour
                            </a>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                {% if filiere.image %}
                                    <img src="{{ asset('assets/admin/images/filieres/' ~ filiere.image) }}" 
                                         alt="{{ filiere.nom }}" 
                                         class="img-fluid" 
                                         style="max-width: 100%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                                {% else %}
                                    <div class="avatar-lg">
                                        <i class="fa fa-graduation-cap fa-5x text-c-purple"></i>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="info-group">
                                    <label>Nom officiel</label>
                                    <p>{{ filiere.nom }}</p>
                                </div>
                                <div class="info-group">
                                    <label>Code</label>
                                    <p>FIL-{{ '%02d'|format(filiere.id) }}</p>
                                </div>
                                <div class="info-group">
                                    <label>Description complète</label>
                                    <p>{{ filiere.description }}</p>
                                </div>
                                <div class="info-group">
                                    <label>Statut</label>
                                    <p><span class="badge badge-success">Actif</span> Ce programme est actuellement actif dans le catalogue de SchoolPrepar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {{ include('admin/filiere/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}