{% extends 'admin/base.html.twig' %}

{% block title %}Modifier Établissement{% endblock %}

{% block body %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Modifier Établissement</h5>
                    <p class="m-b-0">Modifier les informations d'un établissement</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_etablissement_index') }}">Établissements</a></li>
                    <li class="breadcrumb-item"><a href="#">Modifier</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Formulaire de modification</h5>
                        <div class="card-header-right">
                            <a href="{{ path('app_admin_etablissement_index') }}" class="btn btn-secondary btn-sm">↩️ Retour</a>
                        </div>
                    </div>
                    <div class="card-block">
                        {{ include('admin/etablissement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    </div>
                    <div class="card-footer">
                        {{ include('admin/etablissement/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}