{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.titre, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.date, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lieu, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.participants, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-label'}}) }}
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary">
            <i class="fa fa-save"></i> {{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('app_admin_evenement_index') }}" class="btn btn-secondary">
            <i class="fa fa-times"></i> Annuler
        </a>
    </div>
{{ form_end(form) }}