{% extends 'admin/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>{% extends 'admin/base.html.twig' %}

{% block title %}Détail Utilisateur{% endblock %}

{% block body %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Détail Utilisateur</h5>
                    <p class="m-b-0">Consultation des informations d'un utilisateur</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_admin_utilisateur_index') }}">Utilisateurs</a></li>
                    <li class="breadcrumb-item"><a href="#">Détail</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="card">
                    <div class="card-header">
                        <h5>Informations de {{ user.prenom }} {{ user.nom }}</h5>
                        <div class="card-header-right">
                            <a href="{{ path('app_admin_utilisateur_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm">✏️ Modifier</a>
                            <a href="{{ path('app_admin_utilisateur_index') }}" class="btn btn-secondary btn-sm">↩️ Retour</a>
                        </div>
                    </div>
                    <div class="card-block">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 200px;">Id</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ user.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prénom</th>
                                    <td>{{ user.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Rôle(s)</th>
                                    <td>
                                        {% for role in user.role %}
                                            <span class="badge badge-info">{{ role }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Filière</th>
                                    <td>{{ user.filiere ? user.filiere.nom : 'Non assigné' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        {{ include('admin/utilisateur/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

    <a href="{{ path('app_admin_utilisateur_index') }}">back to list</a>

    <a href="{{ path('app_admin_utilisateur_edit', {'id': user.id}) }}">edit</a>

    {{ include('admin/utilisateur/_delete_form.html.twig') }}
{% endblock %}
